<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/adminLogin.css" />
        <link rel="stylesheet" href="/staff.css" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
        <title>List</title>
    </head>
    <body>
        <h1 class="text-center text-xl border-2 rounded m-10">Admin Page Staff Panel</h1>
        <div style="display: none;" class="CreateForm mx-auto p-4">
            <h1 class="text-3xl font-bold text-center mb-8">Admin access</h1>
            <div class="card bg-green-600 shadow-md rounded-lg p-6 mb-8">
                <form id="addForm" >
                    <label for="staffName">Enter Staff Name:</label>
                    <input type="text" id="staffName" name="staffName" required class="w-full border border-gray-300 rounded px-3 py-2" />
                    <br />
                    <label for="staffTitle">Enter Staff Title:</label>
                    <input type="text" id="staffTitle" name="staffTitle" required class="w-full border border-gray-300 rounded px-3 py-2" >
                    <br/>
                    <label for="staffBio">Enter Staff Bio:</label>
                    <textarea type="text" id="staffBio" name="staffBio" required class="w-full border border-gray-300 rounded px-3 py-2" ></textarea>
                    <br />
                    <label for="staffImg">Enter Profile Image URL:</label>
                    <input type="text" id="staffImg" name="staffImg" required class="w-full border border-gray-300 rounded px-3 py-2" />
                    <br />
                    <input type="submit" class="w-full bg-blue-500 text-white rounded py-2 mt-4" />
                </form>
            </div>
        </div>

        <div class="mx-auto m-20">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
                <button id="addBtn" class="edit bg-green-500 text-white rounded py-2 mt-4" aria-label="Add Staff">Add</button>
                <% for (i = 0; i < Staffinfo.length; i++) { %>
                <div class="staff">
                    <img class="staffProfilePic" src="<%= Staffinfo[i].staffImg %>" alt="Staff profile picture" />
                    <div id="staffInfo">
                        <h2><%= Staffinfo[i].staffName %></h2>
                        <h5 class="hidden"><%= Staffinfo[i]._id%></h5>
                        <h3 class="border rounded">
                        </h3>
                        <h4 class="staffTitle border rounded"><%= Staffinfo[i].staffTitle %></h4>
                        <p><%= Staffinfo[i].staffBio %></p>
                        <button class="edit-btn w-full bg-blue-500 text-white rounded py-2 mt-4" aria-label="Edit Staff">Edit</button>
                        <button class="delete-btn w-full bg-red-500 text-white rounded py-2 mt-4" aria-label="Delete Staff">Delete</button>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <script defer>
            const addButton = document.querySelector("#addBtn");
            const createForm = document.querySelector(".CreateForm");
            addButton.addEventListener("click", () => {
                createForm.style.display = createForm.style.display === "none" ? "block" : "none";
            });

            const addForm = document.querySelector("#addForm");
            addForm.addEventListener("submit", (e) => {
                e.preventDefault();
                const formData = new FormData(addForm);
                const data = Object.fromEntries(formData.entries());
                console.log(data);

                fetch("/teacher", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: { "Content-Type": "application/json; charset=UTF-8" },
                })
                    .then((response) => response.json())
                    .then((json) => {
                        console.log(json);
                        location.reload();
                    });
            });

            const editButtons = document.querySelectorAll(".edit-btn");
            editButtons.forEach((button) => {
                button.addEventListener("click", () => {
                    const staffTile = button.closest(".staff");
                    const staffName = staffTile.querySelector("h2").textContent
                    const staffTitle = staffTile.querySelector("h4").textContent
                    const staffBio = staffTile.querySelector("p").textContent
                    const staffImg = staffTile.querySelector("img").src;

                    const editForm = `
                    <form class="edit-form">
                        <label>Name: <input type="text" name="staffName" value="${staffName}" required></label><br>
                    <label>Title: <input type="text" name="staffTitle" value="${staffTitle}" required></label><br>
                        <label>Bio: <input type="text" name="staffBio" value="${staffBio}" required></label><br>
                        <label>Img Url: <input type="text" name="staffImg" value="${staffImg}"></label><br>
                        <button type="submit" class="w-full bg-green-500 text-white rounded py-2 mt-4">Save</button>
                    </form>
                `;

                    staffTile.innerHTML = editForm;

                    const updateForm = staffTile.querySelector(".edit-form");
                    updateForm.addEventListener("submit", (e) => {
                        e.preventDefault();
                        const formData = new FormData(updateForm);
                        const data = Object.fromEntries(formData.entries());
                        console.log(data, "is getting updated");
                        
                        const encode = encodeURIComponent(staffName)
                        fetch(`/teacher/${staffName}`, {
                            method: "PATCH",
                            body: JSON.stringify(data),
                            headers: { "Content-Type": "application/json; charset=UTF-8" },
                        })
                            .then((response) => response.json())
                            .then((json) => {
                                console.log(json);
                                location.reload();
                            });
                    });
                });
            });

            const deleteButtons = document.querySelectorAll(".delete-btn");
            deleteButtons.forEach((button) => {
                button.addEventListener("click", () => {
                    const staffTile = button.closest(".staff");
                    const staffName = staffTile.querySelector("h2").textContent.trim();
                    const staffId = staffTile.querySelector("h5").textContent.trim();
                    if (confirm(`Are you sure you want to delete ${staffName}?`)) {
                        fetch(`/teacher/${staffId}`, {
                            method: "DELETE",
                            headers: { "Content-Type": "application/json; charset=UTF-8" },
                        })
                            .then((response) => response.json())
                            .then((json) => {
                                console.log(json);
                                location.reload();
                            });
                    }
                });
            });
        </script>
    </body>
</html>
