<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>replit</title>
	<link rel="stylesheet" href="/project.css" />
	<link rel="stylesheet" href="home.css" />
	<link rel="stylesheet" href="navbar.css" />
	<link rel="stylesheet" href="card.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-200">
	<nav class="navbar navbar-expand-custom navbar-mainbg"> <a class="navbar-brand navbar-logo" href="/">CS Department</a> <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars text-white">☰</i> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
							<div class="hori-selector">
									<div class="left"></div>
									<div class="right"></div>
							</div>
							<li class="nav-item "> <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i>Home</a> </li>
							<li class="nav-item "> <a class="nav-link" href="/teacher"><i class="far fa-address-book"></i>Our Staff</a> </li>
							<li class="nav-item active"> <a class="nav-link" href="/course"><i class="far fa-clone"></i>Courses</a> </li>
					</ul>
			</div>
	</nav>
	<p>
		
	</p>
	


	
	
	
	
	<div class="container mx-auto py-8">
			<h1 class="text-center font-bold text-4xl md:text-5xl lg:text-6xl py-8 bg-gradient-to-r from-green-800 to-white-800 text-white rounded-lg shadow-md">
				<%= courseName %>
			</h1>
			<h1 class="text-3xl text-center text-gray-700 border rounded p-10">
					 <%= courseDescription %>
			</h1>

			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 m-auto ">
					<% for(let i=0; i<projects.length; i++){ %>
							<% console.log("testing:", projects[i]); %>
							<% if(courseId === projects[i].coursePage._id.toString() ){ %>
									<div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-105">
											<img class="w-full h-48 object-cover" src="<%= projects[i].projectImg %>" alt="Project Image">
											<div class="p-4">
													<h2 class="text-xl font-bold mb-2"><%= projects[i].projectName %></h2>
													<h3 class="text-lg font-semibold mb-2">Made by: <%= projects[i].studentName %></h3>
													<p class="text-gray-700 mb-2">Grade: <%= projects[i].grade %></p>
													<p class="text-gray-700 mb-2">Year: <%= projects[i].yearMade %></p>
													<p class="text-gray-700 mb-4"><%= projects[i].projectDescription %></p>
													<a href="/project/view?projectId=<%= projects[i]._id %>" class="block bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded transition-colors duration-300">View Project</a>
											</div>
									</div>
							<% } %>
					<% } %>
			</div>
	</div>
	<script type="text/javascript" src="vanilla-tilt.js"></script>
	<script type="text/javascript">
		VanillaTilt.init(document.querySelectorAll(".card"), {
			max: 25,
			speed: 400,
			glare: true,
			'max-glare': 1,
		});
	</script>

						
				<script src="navbar.js"></script>
				</script>
				
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
				<!-- <script src="card.js"> -->

				

	
	
	
</body>

</html>
